.product {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    margin: 10px;
    padding: 20px;
    justify-content: flex-end;
    background-color: rgb(241, 255, 255);
    border-radius: 25px;
    
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product__rating {
    display: flex;
}

.product__price{
    margin-top: 5px;
}
.product > img{
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.product > button{
    background-color: rgb(255, 255, 133);
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 25px;
}

.product > button:hover {
    background-color: rgb(187, 196, 170);
}